<div class="container h-100">
  <div class="row fixed-center align-items-center h-100 justify-content-center">
    <div class="error-template">
      <h1>Упс!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">Я конечно извиняюсь, но такой страницы не существует</div>
    </div>
  </div>
</div>